@import "$HOME/.cache/wal/colors-universal.css";

@define-color text rgba(255,255,255,1);
@define-color accent @color1;

* {
    outline: none;
    box-shadow: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    background-clip: padding-box;
}

window#waybar {
    background: rgba(0,0,0,0.4);
    border-radius: 0px 0px 14px 14px;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#custom-swaync,
#language,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    min-width: 12px;
    background-color: @accent;
    border-radius: 8px;
    color: @text;
}

#window {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    color: @text;
}


#workspaces {
    margin: 4px 0px 4px 4px;
    padding: 2px;
    background: rgba(0,0,0,0.3);
    border-radius: 12px;
}

#workspaces button {
    padding: 0px 4px;
    margin: 4px 3px;
    background: @accent1;
    color: @text;
    transition: all 0.25s ease-out;
    border-radius: 8px;
}

#workspaces button:hover {
    background: @accent;
    min-width: 48px;
}

#workspaces button.active {
    background: @accent;
    min-width: 72px;
}

#network {
    padding: 0px 13px 0px 10px;
    background-color: @accent;
    color: @text;
}

#custom-swaync {
    padding: 0px 12px 0px 9px;
}

#battery {
    padding-left: 8px;
    padding-right: 14px;
}
