@import "$HOME/.cache/wal/colors-universal.css";

@define-color text   #C0C0C1;
@define-color accent rgba(46,46,50,1);


* {
    outline: none;
    box-shadow: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd";
    font-weight: 600;
    font-size: 15px;
    background-clip: padding-box;
}


window#waybar {
    background: #010306;
}
#cpu,
#memory,
#custom-power,
#clock,
#tray,
#network,
#custom-swaync,
#language,
#pulseaudio {
    margin: 4px 4px 4px 0px;
    padding: 2px 7px;
    background-color: @accent;
    color: @text; 
    border-radius: 6px;
}

#workspaces {
    margin: 5px 0px 5px 6px;
    background: transparent;
}

#workspaces button {
    padding: 1px 10px 1px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
}

#workspaces button.active {
    background: @accent;
    color: @text; 
    min-width: 40px;
}


#custom-swaync {
    padding: 1px 11px 0px 8px;
}