@import "/home/inkognit/.cache/wal/colors-universal.css";

@define-color text rgba(255,255,255,1);
@define-color accent @color1;

@define-color text rgba(255,255,255,1);
@define-color accent @color1;

* {
    outline: none;
    box-shadow: none;
    border: none;
    text-shadow: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-size: 12px;
    padding: 0px;
    background-clip: padding-box;
}

window#waybar {
    background: rgba(0,0,0,0.450);
    border-radius: 0px 0px 12px 12px;
}

#cpu,
#memory,
#clock,
#tray,
#custom-powermenu,
#battery,
#custom-swaync,
#language,
#pulseaudio {
    margin: 2px 5px 2px 0px;
    padding: 0px 7px;
    min-width: 12px;
    background: rgba(0,0,0,0.3);
    border-radius: 8px 8px 8px 8px;
    color: @text;
}

#window {
    padding: 2px 8px;
    color: @text;
}

#workspaces {
    margin: 2px 5px 2px 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 8px 8px 8px 8px;
}

#workspaces button {
    margin: 3px 3px;
    background: @accent1;
    color: @text;
    transition: all 0.25s ease-out;
    border-radius: 5px 5px 5px 5px;
}

#workspaces button:hover {
    background: @accent;
    min-width: 48px;
}

#workspaces button.active {
    background: @accent;
    min-width: 72px;
}

#custom-swaync {
    padding-left: 7px;
    padding-right: 8px;
}

#battery {
    padding-left: 7px;
    padding-right: 12px;
}

#custom-powermenu {
    padding-left: 7px;
    padding-right: 10px;
}

#pulseaudio.muted {
    color: #FF0000;
}